* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: rgb(245, 240, 235);
}

h3 {
    color: rgb(255, 245, 245);
}

.btnnn {
    background: #025d95;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btnnn:hover {
    color: #002035;
    background: #367fad;
    padding: 3px 8px;
    border: 2px solid #014d7c;
}



.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid rgb(255, 248, 248);
    text-align: center;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

input{
    height: 30px;
    width: 300px;
}
select {
    height: 30px;
    width: 300px;
}
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #025d95;
    width: 18vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    color:rgb(255, 0, 119);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu .brand-name h1{
    color:white;
}

.side-menu li span{
    font-size: 18px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li span:hover {
    background: white;
    color: #025d95;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 15vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

 .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.header .nav .qual select{
    border: 3px solid black;
    width: 100px;
}

 .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

 .header .nav .search input {
    margin-top: 5px;
    border: 3px solid rgb(0, 0, 0);
    background: #d3d2d2;
    width: 50%;
}

 .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .header .nav .search button img {
    width: 30px;
    height: 30px;
}

 .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header .nav .user img {
    width: 40px;
    height: 40px;
}

 .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

 .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 .content {
    position: relative;
    margin-top: 15vh;
    margin-left: 30vh;
    min-height: 50vh;
    background: #6a99b7;
}

.bar {
    position: relative;
    margin-top: 1vh;
    margin-left: 30vh;
    min-height: 60vh;
    background:#6a99b7;
}
.bar .bar-main{
    padding-top: 25px;
}



.bar .bar-main span{
    padding-left: 5px;
    color:#26236e;
}




.bar1 {
    position: relative;
    margin-top: 20vh;
    margin-left: 30vh;
    min-height: 60vh;
    background:#6a99b7;
}
.bar1 .bar-main1{
    padding-top: 25px;
}

.bar1 .bar-main1 span{
    padding-left: 5px;
    color:#26236e;
}





 .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

 .content .cards .card {
    width: 150px;
    height: 100px;
    background:#025d95;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content1 {
    position: relative;
    margin-top: 15vh;
    margin-left: 30vh;
    min-height: 50vh;
    background: #6a99b7;
}

.content1 table th{
    color:#002035;
    font-size: 12px;

}
.content1 table td{
    color:#002035;
    font-size: 12px;
}
.content1 table button{
    color:#002035;
    font-size: 12px;
}




.content2 {
    position: relative;
    margin-top: 15vh;
    margin-left: 30vh;
    min-height: 50vh;
    background: #6a99b7;
}

.content2 table th{
    color:#002035;
    font-size: 12px;
}
.content2 table td{
    color:#002035;
    font-size: 12px;
}
.content2 table button{
    color:#002035;
    font-size: 12px;
}





.content3 {
    position: relative;
    margin-top: 15vh;
    margin-left: 30vh;
    min-height: 50vh;
    background: #6a99b7;
}

.content3 table th{
    color:#002035;
    font-size: 12px;
}
.content3 table td{
    color:#002035;
    font-size: 12px;
}
.content3 table button{
    color:#002035;
    font-size: 12px;
}





.content .ad_content {
    position: relative;
    margin-top: 3vh;
    margin-left: 30vh;
    min-height: 50vh;
    background: #6a99b7;
}
 /* .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
} */

 /* .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
} */

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #025d95;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
   .content  table th:nth-child(2),
    .content  table td:nth-child(2) {
        display: none;
    }
}
